
h1 {
    overflow: hidden;
    background-color:blanchedalmond;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    color: black;
    font-family:monospace;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    max-width: fit-content;

}

body {
    /* background-color: salmon; */
    background-image: url("bigsur1920.jpg");
    background-repeat: no-repeat;
    /* animation: fadeBackground 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    color: black;
    font-weight: 400;
    margin: 0%;

}

table {
    color: black;
    font-weight: 500;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 40px;
}

td {
    width:100%;
}
.navbar {
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    overflow: auto;
    margin-left: 0px;
    opacity: 0.7;
}

.navbar a {
    float: left;
    padding: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 15px;
    text-decoration: none;
}

.navbar a:hover {
    transition:0.3s;
    background-color:rgb(57, 116, 226);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeBackground {
    from {
        background-color:darksalmon;
    }

    to {
        background-color:darkgoldenrod;
    }
}

::-webkit-scrollbar {
    width:0.8em;
}

::-webkit-scrollbar-track {
    background: linear-gradient(gray, rgb(192, 192, 192));


}

::-webkit-scrollbar-thumb {
    background: linear-gradient(red,blue);
    border-radius: 100vw;

}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}@font-face {
    font-family: 'San Francisco';
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}