
h1 {
    overflow: hidden;
    background-color:blanchedalmond;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    color: black;
    font-family:monospace;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    max-width: fit-content;

}

body {
    background-image: url("bigsur1920.jpg");
    background-repeat: no-repeat;
    /* animation: fadeBackground 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    color: black;
    font-weight: 400;
    display: inline-block;
    margin: 0%;

}

table {
    color: black;
    font-weight: 500;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

td {
    width:100%;
}
.navbar {
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    overflow: auto;
    margin-left: 0px;
    opacity: 0.7;
}

.navbar a {
    float: left;
    padding: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 15px;
    text-decoration: none;
}

.navbar a:hover {
    transition:0.3s;
    background-color:rgb(57, 116, 226);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeBackground {
    from {
        background-color:darksalmon;
    }

    to {
        background-color:darkgoldenrod;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #39ff14;
    }
}@font-face {
    font-family: 'San Francisco';
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}